<h1>All Customers</h1>
<p>
  <%= link_to "Missing Email Customers", customers_missing_email_path %> |

  <%= link_to "Alphabetized Customers", customers_alphabetized_path %>
</p>

<%= render @customers %>
